@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: theme('colors.primaryText');
    background-color: theme('colors.primaryBackground');
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  img {
    object-fit: cover;
  }
}

@layer components {
  .input {
    @apply block w-full py-[14px] px-4 text-sm text-primaryText bg-blue-200 border-[1px] rounded-md border-purple border-opacity-0 outline-none transition-all;
    @apply placeholder:text-sm placeholder:font-medium placeholder:text-primaryText placeholder:tracking-minus1 placeholder:opacity-34 placeholder:uppercase;
    @apply focus:border-opacity-40;
  }

  @screen xl {
    .input {
      @apply py-[20px] px-4;
    }
  }
}

.custom-dashed-border {
  border-radius: 4px;
  background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill: none; stroke: rgb(106, 84, 255); stroke-width: 2; stroke-dasharray: 8 8'/></svg>");
}

.swiper-scrollbar {
  background-color: rgba(67, 79, 112, 0.6) !important;
  opacity: 0.4 !important;
  width: 91% !important;
  height: 6px !important;

  position: absolute !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.swiper-scrollbar-drag {
  width: 62px !important;
  background-color: #6073a2 !important;
}

.skewed {
  position: absolute;
  top: -165px;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #030718;
  z-index: 100;
  transform: skewY(40deg);
  transform-origin: top right;
}
